.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    color: var(--textLight);
    background-color: var(--bgLight);
    border-radius: 10px;
    padding: 20px;
}

.logo {
    font-weight: bold;
}

.text {
    font-size: 12px;
}