.container {
    height: 450px;
    background-color: var(--bgLight);
    padding: 20px;
    border-radius: 10px;
}

.title {
    font-weight: 200;
    color: var(--textLight);
    margin-bottom: 20px;
}